.contato {
        max-width: 1110px;
        border-top: 2px solid #ececec;
        border-bottom: 2px solid #ececec;
}

.contato-form {
    width: 1110px;
}

.label {
    font-family: 'Public Sans', sans-serif;
    font-size: 13px;

    line-height: 30px;

    color: #33323D;
    opacity: 0.8;
}

